.c-icon-vector {
  display: inline-block;
  vertical-align: -1px;
  content: "";
  background: url(/images/icons/icon_vector.svg) no-repeat left center;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-left: 4px;
}
