// Font
$font_roboto: 'Roboto', sans-serif;
$font_noto_sans_jp: 'Noto Sans JP', sans-serif;

$bp_sp_max_width: 768;
$container_width: 896px;

// Background
$bg_primary: #FDF8F4;

// Color
$color_black1: #000000;
$color_black2: #333333;

$color_white: #fff;
$color_gray1: #D9D9D9;
$color_gray2: #C8C8C8;
$color_gray3: #7C7C7C;
$color_gray4: #F5F5F5;
$color_gray5: #898989;
$color_gray6: #f9f9f9;
$color_blue: #1890FF;
$color_blue2: #0050B3;
$color_blue3: #00474F;
$color_blue4: #007C6B;
$color_geeen: #B7EB8F;
$color_orange: #ff6b00;
$color_red1: #F00;
$color_red2: #FF4D4F;
$color_button_hover: rgba(255, 107, 0, 0.5);

$color_yellow: #FFF566;
$color_yellow2: #FAAD14;
$color_yellow3:#FFE58F;
$color_yellow4: #FFDD64;
$color_yellow5: #FFCC00;
